body {
  background-color: rgb(245, 245, 245);
  

}

 footer{
    margin-right: 6%;
    background-color: rgb(119, 92, 92);
    color: white;
    position: fixed;
   bottom: 0;
   width: 100%;
   height: 3rem;


 }
    
footer p{
margin-left: 0%;
margin-right: 0%;
text-align: center;
font-size: 0.3;
margin-top: 0.5rem;


}
